---
title: Custom Metric Registrar
owner: registrar
---

This topic describes the Custom Metric Registrar. 

## <a id="overview"></a> Overview 

The Custom Metric Registrar allows app developers to export custom app metrics and events in a format that [Loggregator](https://docs.pivotal.io/pivotalcf/loggregator/architecture.html) can consume. App developers can then use the custom metrics to monitor apps with [PCF Metrics](https://docs.pivotal.io/pcf-metrics) and configure autoscaling rules with [PCF Autoscaler](https://docs.pivotal.io/pivotalcf/appsman-services/autoscaler/using-autoscaler.html). 

App developers can export custom metrics to Loggregator by configuring their apps in one of the following ways:

* **Metrics Endpoint**
	* Publish and register a Prometheus Exposition metrics endpoint to an app. The Custom Metric Registrar will then poll this endpoint every 35 seconds and convert the metrics found in the response to Loggregator metrics. 
* **Structured Log**
	* Modify your app to emit metrics using a specific JSON or DogStatsD format. The Custom Metric Registrar then converts all matching log messages into Loggregator metrics or events.

## <a id="architecture"></a> Architecture 

The following diagram illustrates how the custom metrics registrar sends your custom app metrics to loggregator. The components of the custom metrics registrar are as follows:

* The cf CLI pluigin 
* The `metric_registrar_endpoint_worker` and `metric_registrar_log_worker` jobs running on the Doppler VM of the PAS deployment. 
* The `metric_registrar_orchestrator` and `metric_registrar_smoke_test` jobs running on the Clock Global VM of the PAS deployment. 

[//]: https://docs.google.com/drawings/d/1A-1bwP3TuHtEDEg1I_68C3VsEKuCITNWDE-oVB9S0HU/edit?usp=sharing
![Metric Registrar Architecture Diagram](metrics-registrar-architecture.png)

## <a id="configure"></a> Configure the Custom Metric Registrar 

The PAS tile includes a configuration pane for the Custom Metric Registrar. You can configure the Custom Metric Registrar in the following ways:

* Disable
* Edit default scraping interval
* Add blacklisted tags

### <a id="disable"></a> Enable the Custom Metric Registrar

The PAS tile does not deploy the Custom Metric Registrar by default. To enable the Custom Metric Registrar, uncheck the **Disable Metric Registrar** checkbox. 

### <a id="scraping-interval"></a> Edit default scraping interval

The scraping interval defines how often the Custom Metric Registrar polls custom metric endpoints. The default is 35 seconds. To edit the scraping interval, use the **Endpoint Scraping Interval** field. 

### <a id="blacklisted-tags"></a> Add blacklisted tags

With the **Blacklisted Tags** field, you can specify metrics tags for which you do not want the Custom Metric Registrar to consume the value. The field accepts a comme-separated list. 

By default, the following tags are blacklisted to prevent interference with other products like PCF Metrics that use and rely on such tags.  

```
- deployment
- job
- index
- id
```

You can add more blacklisted tags if you have specific ones you do not want the Custom Metric Registrar to consume. For example, if you tag your metrics with a `customer_id`, you may want to add `customer_id` to the list of blacklisted tags. 
